*

!/game
!/game/*.go

!/go.mod
!/go.sum
!/main.go

!/.gitignore
!/LICENSE
!/README.md
!/screenshots
!/screenshots/*.png

!/assets
!/assets/fonts
!/assets/fonts/LICENSE.md
!/assets/fonts/*.go
!/assets/fonts/*.ttf

!/wasm-build.sh
!/wasm
!/wasm/index.html